* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.progress-bar {
  background-color: black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}
.progress :focus {
  outline: none;
}
.arrow {
  margin-left: 5px;
  display: none;
  width: 10px;
  height: 10px;
}
.arrow-active {
  display: inline-block;
}
.arrow-line {
  transform: rotateX(180deg);
}
