* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.progress-bar {
  background-color: black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}
.progress :focus {
  outline: none;
}
